* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: cornflowerblue;
  min-height: 100vh;
  max-width: 100vw;
  padding: 25px 0;
}
.titleImage {
  margin: auto;
  display: block;
  height: 20%;
  width: 20%;
  margin-bottom: 25px;
}
.pageTitle {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 40px;
  padding: 20px 60px;
  color: black;
  background-color: lightgreen;
  display: block;
  border-radius: 50px;
  border: 5px solid lightblue;
}
.filters {
  margin: 0 auto 15px;
  width: fit-content;
  label {
    padding: 0 10px 0 0;
  }
}
.favorites-list {
  height: fit-content;
  min-width: 50px;
  width: fit-content;
  margin: 20px auto;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .pokeheart {
    height: 16px;
  }
}
.reset-favs-button {
  background-color: lightgreen;
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px;
  margin: 10px auto 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  position: relative;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 0 0 15px darkblue;
  min-width: 170px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  transition: all ease 0.5s;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px 5px lightgreen;
  }
}
.favorite {
  height: 22px;
  position: absolute;
  left: 10%;
  top: 5%;
}
.name {
  background-color: lightgreen;
  padding: 5px 0;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.tagsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.typeTag {
  font-size: 14px;
  background-color: lightblue;
  border-radius: 10px;
  text-align: center;
  padding: 3px 5px;
  margin: 5px 2px;
}
